@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i|Nunito:300,400,600,800&display=swap');
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.woff);
    src: url(../fonts/Roboto-Regular.woff2);
    src: url(../fonts/Roboto-Regular.eot);
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'GoBold';
    src: url("../fonts/Gobold-Regular.otf") format("opentype");
}
body{
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #808080;
}
header{
    background-color: transparent;
    padding: 20px 0;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

#home{
    background-size: cover;
    background-position: center;
    padding: 10% 0;
    color: #fff;
    position: relative;
    height: 100vh;
}
#home h1{
    font-size: 60px;
    font-weight: 300;
}
#home h1 span{
    display: block;
    font-weight: 400;
}
#home p{
    font-size: 20px;
}
#home .subtitulo{
    color: #fff;
}
.bg-home{
    background-image: url("../img/hero-home.jpg");
    height: 100vh;
}
.bg-contact{
    background-image: url("../img/bg-contact.jpeg");
    height: 60vh !important;
}


.btn-light{
    border-radius: 0;
    padding: 15px 40px;
}
.btn{
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
}

.section{
    padding: 80px 0;
}
.titulo{
    font-size: 38px;
    color: #222;
    text-align: center;
    margin-bottom: 20px;
}
.subtitulo{
    font-family: 'Crimson Text', serif;
    font-size: 14px;
    font-style: italic;
    color: #757575;
    text-align: center;
    margin-bottom: 20px;
}
#testimonials{
    background-color: #f2f2f2;
}

.testimonial-info{
    background-color: #fff;
    padding: 35px 25px;
    text-align: center;
    margin-top: 40px;
    border-radius: 8px;
    border: 1px solid #ddd;
    border-bottom-left-radius: 0;
}
.testimonial-info p{
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 16px;
}
.testimonial-info h4{
    color: #222;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}
.testimonial-info h5{
    color: #757575;
    font-size: 14px;
    font-style: italic;
}

.bg-blue{
    background-color: #258edf;
    color: #fff;
}
.bg-blue h5{
    color: #fff;
}
#testimonials article:nth-child(2) .testimonial-info{
    background-color: #258edf;
    color: #fff;
}
#testimonials article:nth-child(3) .testimonial-info{
    background-color: #000;
    color: #fff;
}


#touch{
    background-image: url("../img/bg-action.jpeg");
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative;
}
#touch::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.80);
    top: 0;
    z-index: 0;
    opacity: 1;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.80);
    top: 0;
    left: 0;
    z-index: 0;
}

#slides .tag{
    font-size: 16px;
    font-style: italic;
}
#slides .sub{
    font-size: 20px;    
}
#slides h1{
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 45px;
}

#slides .carousel-item img{
    height: 640px;
}

#slides .carousel-caption{
    top:20%;    
    width: 50%;
    margin: 0 auto;
}

.slide-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.55);
}


.work{
    position: relative;
    overflow: hidden;
}
.work-fondo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #28D1A2;
    opacity: 0;
    transition: all 0.4s ease-in;
    z-index: 10;

}
.work-texto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: all 0.4s ease-in;
    z-index: 20;
}
.work-texto h5{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 14px;
}
.work-texto h6{
    font-weight: 600;
    font-size: 14px;
}
.work:hover .work-fondo,
.work:hover .work-texto{
    opacity: 1;
    transition: all 0.4s ease-in;
}

.work-frame{
    position: absolute;
    top: 0;
    padding: 5px;
    width: 100%;
    height: 100%;
}
.work-bottom{
    position: absolute;
    width: 100%;
    background-color: #000;
    color: #fff;
    bottom: 0;
    text-align: center;
    padding: 5px 0;
}

.work:hover .work-bottom{
    background-color: #28D1A2;
}


.overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.40);
    padding: 10% 0;
}

.work:hover img{
    transform: scale(1.5);
    transition: all 1s ease-in-out;
    filter: blur(0px);
}
.work img{
    transition: all 1s ease-in-out;
    filter: blur(5px);
    filter: grayscale(1);
}


h4{
    text-transform: uppercase;
    color: #404040;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
}

.navbar-nav .fab{
    background-color: #28D1A2;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
}
.navbar-nav .fab:hover{
     color: #000;   
}





footer{
    background-color: #f2f2f2;
    color: #757575;
    text-align: center;
    padding: 40px 0;
}









